@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap");
html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --pink: hsl(322, 100%, 66%);
  --light-pink: hsl(321, 100%, 78%);
  --light-red: hsl(0, 100%, 63%);
  --dark-cyan: hsl(192, 100%, 9%);
  --pale-blue: hsl(207, 100%, 98%);
  --white: #fff;
  --button-clear: var(--white);
  --button-full: var(--pink);
  --rounded: 5rem;
}

body {
  background-color: var(--white);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 85%;
  margin: 3rem auto 0 auto;
}

.header__logo {
  display: block;
  max-width: 35%;
  margin-right: auto;
}

.header__button {
  display: block;
  padding: 0.3em 1.1em;
  color: var(--pink);
  background-color: var(--button-clear);
  border: 0.1em solid var(--pink);
  border-radius: var(--rounded);
  margin-left: auto;
  text-shadow: 2px 2px 4px rgba(255, 82, 191, 0.3);
  -webkit-box-shadow: 5px 7px 13px -6px rgba(255, 82, 191, 0.3);
          box-shadow: 5px 7px 13px -6px rgba(255, 82, 191, 0.3);
}

.container {
  max-width: 100%;
  margin: 0 auto;
}

.hero {
  max-width: 90%;
  margin: 10rem auto 0 auto;
}

.hero__heading {
  max-width: 90%;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  margin: 1em auto;
}

.hero__paragraph {
  line-height: 1.5;
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center;
}

.hero__button {
  display: block;
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--white);
  border: none;
  border-radius: var(--rounded);
  background-color: var(--button-full);
  padding: 1em 3em;
  margin: 4em auto 9em auto;
  -webkit-box-shadow: 5px 7px 13px -6px rgba(0, 0, 0, 0.51);
          box-shadow: 5px 7px 13px -6px rgba(0, 0, 0, 0.51);
}

.hero__img {
  display: block;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.stats {
  margin: 8em 0 0 0;
}

.stats__container {
  text-align: center;
  max-width: 90%;
  margin: 0 auto 2em auto;
  padding: 2em;
}

.stats__img {
  display: block;
  max-width: 10%;
  margin: 0 0 1em 6em;
}

.stats__number {
  font-size: 6rem;
  color: var(--dark-cyan);
}

.stats__description {
  color: var(--dark-cyan);
  opacity: 0.5;
  font-size: 1.8rem;
  letter-spacing: 0.01em;
}

.main {
  margin: 10rem auto 0 auto;
  width: 100%;
}

.main__img {
  display: block;
  margin: 0 auto;
  padding: 10em 0 0 0;
  max-width: 80%;
}

.main__heading {
  text-align: center;
  font-size: 2.5rem;
  padding: 4em 0 1em 0;
  font-family: 'Poppins', sans-serif;
}

.main__paragraph {
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 0.1em;
  padding: 0 2em 4em 2em;
}

.main__grow:before {
  content: '';
  position: absolute;
  margin: 0;
  top: -9rem;
  width: 100%;
  background-image: url(/images/bg-section-top-mobile-1.svg);
  background-repeat: no-repeat;
  background-size: 100% 25%;
  height: 50vh;
}

.main__grow {
  background-color: var(--pale-blue);
  position: relative;
}

.main__grow:after {
  content: '';
  position: absolute;
  width: 100%;
  background-image: url(/images/bg-section-bottom-mobile-1.svg);
  background-repeat: no-repeat;
  background-size: 100% 10%;
  height: 100vh;
}

.main__flowing {
  margin: 10rem 0;
}

.main__your {
  background-color: var(--pale-blue);
  position: relative;
  margin-top: 15em;
}

.main__your:before {
  content: '';
  position: absolute;
  margin-top: 0;
  top: -12rem;
  width: 100%;
  background-image: url(/images/bg-section-top-mobile-2.svg);
  background-repeat: no-repeat;
  background-size: 100% 16%;
  height: 100vh;
}

.main__your:after {
  content: '';
  position: absolute;
  width: 100%;
  background-image: url(/images/bg-section-bottom-mobile-2.svg);
  background-repeat: no-repeat;
  background-size: 100% 15%;
  height: 50vh;
}

.main__cta {
  max-width: 90%;
  margin: 15em auto 0 auto;
}

.main__cta .main__sub-heading {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1.5em;
  font-family: 'Poppins', sans-serif;
}

.button {
  display: block;
  margin: 0 auto;
  padding: 1em 3em;
  border: none;
  border-radius: var(--rounded);
  background: var(--button-full);
  color: var(--white);
  -webkit-box-shadow: 5px 7px 13px -6px rgba(0, 0, 0, 0.51);
          box-shadow: 5px 7px 13px -6px rgba(0, 0, 0, 0.51);
}

.footer__wave__img {
  display: block;
  min-width: 100%;
  margin-top: 25rem;
}

.footer {
  width: 100%;
  margin: -0.5rem auto 0 auto;
  background-color: var(--dark-cyan);
}

.footer__newsletter {
  max-width: 90%;
  margin: 0 auto 10em auto;
}

.footer__heading {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--white);
  margin-bottom: 1em;
}

.footer__logo {
  max-width: 70%;
  margin-bottom: 2em;
}

.footer__paragraph {
  line-height: 1.8em;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--white);
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.email {
  font-size: 2rem;
  padding: 0.8em 0;
  border: none;
  outline: none;
  border-radius: 0.5em;
  margin: 4rem 0 2rem 0;
}

.submit {
  background-color: var(--button-full);
  color: var(--white);
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.1em;
  border: none;
  border-radius: 0.5em;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 1em 3em;
  -webkit-box-shadow: 5px 7px 13px -6px rgba(0, 0, 0, 0.51);
          box-shadow: 5px 7px 13px -6px rgba(0, 0, 0, 0.51);
}

.footer__contact {
  max-width: 90%;
  margin: 0 auto;
}

.footer__contact .footer__contact__info {
  padding: 5em 0 4em 0;
}

.footer__contact .footer__contact-phone,
.footer__contact .footer__contact-email {
  display: block;
  margin-right: 2em;
}

.footer__contact .footer__phone {
  margin-bottom: 2em;
}

.footer__contact .footer__phone,
.footer__contact .footer__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__contact span {
  color: var(--white);
  font-size: 1.5rem;
}

.social {
  max-width: 90%;
  padding: 2em 0 4em 0;
}

i {
  font-size: 3rem;
  color: var(--white);
}

i:nth-child(2) {
  padding: 0 0.5em;
}

@media (min-width: 1024px) {
  .header {
    margin-top: 10rem;
  }
  .header__logo {
    max-width: 20%;
  }
  .header__button {
    font-size: 2rem;
  }
  .hero__heading {
    font-size: 5rem;
  }
  .hero__paragraph {
    max-width: 40%;
    margin: 0 auto;
    font-size: 2rem;
  }
  .hero__button {
    font-size: 1.8rem;
    padding: 1.3em 6em;
  }
  .hero__img {
    max-width: 70%;
    margin-bottom: 9em;
  }
  .stats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 70%;
    margin: 0 auto 20em auto;
  }
  .stats__img {
    max-width: 20%;
    margin: 0;
  }
  .stats__number {
    font-size: 8rem;
  }
  .main .main__grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: repeat 2, 1fr;
        grid-template-columns: repeat 2, 1fr;
    -ms-grid-rows: repeat 2, 1fr;
        grid-template-rows: repeat 2, 1fr;
    margin: 0 auto;
    max-width: 70%;
  }
  .main__img {
    max-width: 100%;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
  .main__heading {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    font-size: 4rem;
    text-align: left;
  }
  .main__paragraph {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    max-width: 80%;
    font-size: 1.8rem;
    text-align: left;
    padding: 0;
  }
  .main__img-reverse {
    max-width: 100%;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
  .main__heading-reverse {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column-align: center;
        justify-self: center;
    font-size: 4rem;
    text-align: left;
  }
  .main__paragraph-reverse {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column-align: end;
        justify-self: end;
    max-width: 80%;
    font-size: 1.8rem;
    text-align: left;
    padding: 0;
  }
  .main .main__grow::before {
    background-image: url(/images/bg-section-top-desktop-1.svg);
    background-size: 100% 25%;
  }
  .main .main__grow::after {
    background-image: url(/images/bg-section-bottom-desktop-1.svg);
    background-size: 100% 25%;
    top: 100%;
  }
  .main .main__your::before {
    background-image: url(/images/bg-section-top-desktop-2.svg);
    background-size: 100% 18%;
  }
  .main .main__your::after {
    background-image: url(/images/bg-section-bottom-desktop-2.svg);
    background-size: 100% 25%;
    top: 100%;
  }
  .main .main__grow,
  .main .main__flowing,
  .main .main__your {
    margin: 25em 0;
  }
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 90%;
    margin: 0 auto;
  }
  .footer__container .footer__paragraph {
    max-width: 60%;
  }
  .footer__container .footer__newsletter {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    max-width: 50%;
    margin: 0;
  }
  .footer__container .footer__contact {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    max-width: 50%;
    margin: 0;
  }
  .footer__container .footer__form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 4em;
    max-width: 70%;
  }
  .footer__container .email {
    font-size: 2rem;
    width: 100%;
    padding: 0 0.5em;
    margin: 0 1em 0 0;
  }
  .footer__container .submit {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-size: 1.3rem;
    padding: 0.8em 2em;
  }
  .header__button:hover {
    border-color: var(--light-pink);
    color: var(--light-pink);
    cursor: pointer;
  }
  .hero__button:hover {
    background-color: var(--light-pink);
    cursor: pointer;
  }
  .button:hover {
    background-color: var(--light-pink);
    cursor: pointer;
  }
  .submit:hover {
    background-color: var(--light-pink);
    cursor: pointer;
  }
  i:hover {
    color: #4267b2;
  }
}
/*# sourceMappingURL=styles.css.map */