@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap");
html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --pink: hsl(322, 100%, 66%);
  --light-pink: hsl(321, 100%, 78%);
  --light-red: hsl(0, 100%, 63%);
  --dark-cyan: hsl(192, 100%, 9%);
  --pale-blue: hsl(207, 100%, 98%);
  --white: white;
  --button-clear: var(--white);
  --button-full: var(--pink);
  --rounded: 5rem;
}

body {
  background-color: var(--white);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 85%;
  margin: 3rem auto 0 auto;
}

.header__logo {
  display: block;
  max-width: 35%;
  margin-right: auto;
}

.header__button {
  display: block;
  padding: 0.3em 1.1em;
  color: var(--pink);
  background-color: var(--button-clear);
  border: 0.1em solid var(--pink);
  border-radius: var(--rounded);
  margin-left: auto;
}

.hero {
  max-width: 90%;
  margin: 10rem auto 0 auto;
}

.hero__heading {
  max-width: 90%;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  margin: 1em auto;
}

.hero__paragraph {
  line-height: 1.5;
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center;
}

.hero__button {
  display: block;
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--white);
  border: none;
  border-radius: var(--rounded);
  background-color: var(--button-full);
  padding: 1em 3em;
  margin: 4em auto 9em auto;
}

.hero__img {
  display: block;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.stats {
  margin: 8em 0 10em 0;
}

.stats__container {
  text-align: center;
  max-width: 90%;
  margin: 0 auto 2em auto;
  padding: 2em;
}

.stats__img {
  display: block;
  max-width: 10%;
  margin: 0 0 1em 6em;
}

.stats__number {
  font-size: 6rem;
  color: var(--dark-cyan);
}

.stats__description {
  color: var(--dark-cyan);
  opacity: 0.5;
  font-size: 1.8rem;
  letter-spacing: 0.01em;
}

.main {
  margin: 0 auto;
  width: 100%;
}

.main__img {
  display: block;
  margin: 0 auto;
  padding: 10em 0 0 0;
  max-width: 80%;
}

.main__heading {
  text-align: center;
  font-size: 2.5rem;
  padding: 4em 0 1em 0;
}

.main__paragraph {
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 0.1em;
  padding: 0 2em 4em 2em;
}

.main__grow {
  background-color: var(--pale-blue);
  position: relative;
  margin-bottom: 11rem;
}

.main__grow:before {
  content: '';
  position: absolute;
  bottom: 10rem;
  width: 100%;
  background-image: url(/images/bg-section-top-mobile-1.svg);
  background-repeat: no-repeat;
  background-size: 100% 14;
  height: 100%;
}

.main__grow:after {
  content: '';
  position: absolute;
  width: 100%;
  background-image: url(/images/bg-section-bottom-mobile-1.svg);
  background-repeat: no-repeat;
  background-size: 100% 10%;
  height: 100%;
}

.main__flowing {
  margin-bottom: 11rem;
}

.main__your {
  background-color: var(--pale-blue);
  position: relative;
  margin-top: 15em;
}

.main__your:before {
  content: '';
  position: absolute;
  bottom: 10rem;
  width: 100%;
  background-image: url(/images/bg-section-top-mobile-2.svg);
  background-repeat: no-repeat;
  background-size: 100% 16%;
  height: 100%;
}

.main__your:after {
  content: '';
  position: absolute;
  width: 100%;
  background-image: url(/images/bg-section-bottom-mobile-2.svg);
  background-repeat: no-repeat;
  background-size: 100% 15%;
  height: 100%;
}

.main__cta {
  max-width: 90%;
  margin: 20em auto 0 auto;
}

.main__cta .main__sub-heading {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1.5em;
}

.main__cta .main__cta-button {
  font-weight: 600;
  display: block;
  margin: 0 auto;
  padding: 1em 3em;
  border: none;
  border-radius: var(--rounded);
  background-color: var(--button-full);
  color: var(--white);
}
/*# sourceMappingURL=styles.css.map */