// mobile rules

body {
	background-color: var(--white);
}

.header {
	display: flex;
	align-items: center;
	max-width: 85%;
	margin: 3rem auto 0 auto;

	&__logo {
		display: block;
		max-width: 35%;
		margin-right: auto;
	}

	&__button {
		display: block;
		padding: 0.3em 1.1em;
		color: var(--pink);
		background-color: var(--button-clear);
		border: 0.1em solid var(--pink);
		border-radius: var(--rounded);
		margin-left: auto;
	}
}

.hero {
	max-width: 90%;
	margin: 10rem auto 0 auto;

	&__heading {
		max-width: 90%;
		text-align: center;
		font-family: 'Poppins', sans-serif;
		font-weight: 700;
		font-size: 2.5rem;
		margin: 1em auto;
	}

	&__paragraph {
		line-height: 1.5;
		font-weight: 400;
		font-size: 1.5rem;
		text-align: center;
	}

	&__button {
		display: block;
		font-size: 1.3rem;
		font-weight: 600;
		color: var(--white);
		border: none;
		border-radius: var(--rounded);
		background-color: var(--button-full);
		padding: 1em 3em;
		margin: 4em auto 9em auto;
	}

	&__img {
		display: block;
		max-width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
}

.stats {
	margin: 8em 0 10em 0;

	&__container {
		text-align: center;
		max-width: 90%;
		margin: 0 auto 2em auto;
		padding: 2em;
		// background: red;
	}

	&__img {
		display: block;
		max-width: 10%;
		margin: 0 0 1em 6em;
	}

	&__number {
		font-size: 6rem;
		color: var(--dark-cyan);
	}

	&__description {
		color: var(--dark-cyan);
		opacity: 0.5;
		font-size: 1.8rem;
		letter-spacing: 0.01em;
	}
}

.main {
	margin: 0 auto;
	width: 100%;

	&__img {
		display: block;
		margin: 0 auto;
		padding: 10em 0 0 0;
		max-width: 80%;
	}

	&__heading {
		text-align: center;
		font-size: 2.5rem;
		padding: 4em 0 1em 0;
	}

	&__paragraph {
		text-align: center;
		font-size: 1.5rem;
		letter-spacing: 0.1em;
		padding: 0 2em 4em 2em;
	}
}

.main__grow {
	background-color: var(--pale-blue);
	position: relative;
	margin-bottom: 11rem;
}

.main__grow:before {
	content: '';
	position: absolute;
	bottom: 10rem;
	width: 100%;
	background-image: url(/images/bg-section-top-mobile-1.svg);
	background-repeat: no-repeat;
	background-size: 100% 14;
	height: 100%;
}

.main__grow:after {
	content: '';
	position: absolute;
	width: 100%;
	background-image: url(/images/bg-section-bottom-mobile-1.svg);
	background-repeat: no-repeat;
	background-size: 100% 10%;
	height: 100%;
}

.main__flowing {
	margin-bottom: 11rem;
}

.main__your {
	background-color: var(--pale-blue);
	position: relative;
	margin-top: 15em;
}

.main__your:before {
	content: '';
	position: absolute;
	bottom: 10rem;
	width: 100%;
	background-image: url(/images/bg-section-top-mobile-2.svg);
	background-repeat: no-repeat;
	background-size: 100% 16%;
	height: 100%;
}

.main__your:after {
	content: '';
	position: absolute;
	width: 100%;
	background-image: url(/images/bg-section-bottom-mobile-2.svg);
	background-repeat: no-repeat;
	background-size: 100% 15%;
	height: 100%;
}

.main__cta {
	max-width: 90%;
	margin: 20em auto 0 auto;

	.main__sub-heading {
		text-align: center;
		font-size: 3rem;
		margin-bottom: 1.5em;
	}

	.main__cta-button {
		font-weight: 600;
		display: block;
		margin: 0 auto;
		padding: 1em 3em;
		border: none;
		border-radius: var(--rounded);
		background-color: var(--button-full);
		color: var(--white);
	}
}
